{
  "arrowParens": "always",
  "endOfLine": "auto",
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true,
  "extends": ["plugin:prettier/recommended", "prettier/react", "prettier/standard"]
}
