
// Primary
$color-primary: #00ACCB;
$color-primary--light: #0DD9FD;
$color-primary--lighter: #D6F9FF;
$color-primary--dark: #0096B0;
$color-black: #051A1C;

// Shades
$shade-white: #ffffff;
$shade-gray-1: #F9F9F9;
$shade-gray-2: #E1E5E6;
$shade-gray-3: #BAC3C6;
