@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');

// Family
// $serif: Alegreya, serif;
$sans-serif: Montserrat, sans-serif;
:root {
  font-family: $sans-serif;
}
// Weight
$fw-bold: 500;

// Extensions
%heading-01 {
  font-family: $sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 23px;
  letter-spacing: -0.6px;
}

%heading-02 {
  font-family: $sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
}

%heading-03 {
  font-family: $sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

%heading-04 {
  font-family: $sans-serif;
  font-style: normal;
  font-weight: 500;
  // font-size: 14px;
  // line-height: 17px;
}

%paragraph {
  font-family: $sans-serif;
  font-style: normal;
  font-weight: normal;
  // line-height: 22px;
}

%caption {
  font-family: $sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.125px;
  text-transform: uppercase;
}

%caption-light {
  font-family: $sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.21333px;
  text-transform: uppercase;
}

h1 {
  @extend %heading-01;
}

h2 {
  @extend %heading-02;
}

h3 {
  @extend %heading-03;
}

h4 {
  @extend %heading-04;
}

p,
body {
  @extend %paragraph;
}

div.ant-typography,
.ant-typography p {
  margin-bottom: 0;
}
