//Spacing
// For component separation
$spacing-01: 8px;
$spacing-02: 12px;
$spacing-03: 18px;
$spacing-04: 24px;
$spacing-05: 32px;
// For layout level separation
$layout-01: 48px;
$layout-02: 64px;

