@import 'scss/all';


.root {
  padding: 1em 0;
  background-color: #fff;
  border-bottom: 1px solid $shade-gray-2;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company {
  display: flex;
  gap: 5em;
  flex-grow: 1;
  align-items: center;
  flex-direction: row;
}

.searchInput {
  width: 35em;
}
