@import 'scss/all';

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border-radius: 100%;
  padding: $spacing-02;
  background: $shade-gray-1;
  transition: background 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    background: $shade-gray-2;
    outline: solid 1px  $shade-gray-3;
  }
}

.isActive {
  svg {
    color: $color-primary--dark;
  }
}
