/* Ant Design */
@import '~antd/dist/antd.css';

// SCSS
@import 'scss/all';

body {
  margin: 0;
  font-family: $sans-serif;
  background-color: #f7f9fa;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
