@import 'scss/all';

.header {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-04;
}

.companyBriefings {
  margin: $spacing-05 0;
}
.companyBriefingsItem {
  display: flex;
  gap: $spacing-02;
  align-items: center;
  color: $shade-gray-3 !important;

  div.ant-typography,
  .ant-typography p {
    color: $shade-gray-3 !important;
  }

  svg {
    width: 18px !important;
    height: 18px !important;
  }
}

.tabOptions {
  :global(.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn) {
    font-weight: 500;
    color: $color-primary--dark;
  }

  :global(.ant-tabs-tab) {
    &:hover {
      color: $color-primary;
    }
  }

  :global(.ant-tabs-ink-bar) {
    background: $color-primary;
  }
}
