@import 'scss/all';

.header {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-04;
}

.companyBriefings {
  margin: $spacing-05 0;
}

.tabOptions {
  :global(.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn) {
    font-weight: 500;
    color: $color-primary--dark;
  }

  :global(.ant-tabs-tab) {
    &:hover {
      color: $color-primary;
    }
  }

  :global(.ant-tabs-ink-bar) {
    background: $color-primary;
  }
}
