@import 'scss/all';

.root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.header {
  display: flex;
  gap: $spacing-04;
}

.time {
  color: $color-primary--dark;
}

.jobBriefingList {
  margin-top: $spacing-05;
}

.applySection {
  display: flex;

  padding: $spacing-02 0;
  margin-bottom: $layout-01;
  border-top: 1px solid $shade-gray-2;
  border-bottom: 1px solid $shade-gray-2;

  svg {
    width: 24px !important;
    height: 24px !important;
  }
}

.skills {
  flex-wrap: wrap;
  margin: $layout-01 0 $spacing-02;
}
